@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.logo {
  transform: rotate(270deg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-main);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1, h2, h3, h4, h5, h6, .heading-font {
  font-family: var(--font-heading);
}

/* embla */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
}
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}